@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

@import '~include-media/dist/_include-media.scss';
$breakpoints: (phone: 768px, laptop: 1024px, desktop: 1378px);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans';
  font-size: 16px;

  @include media("<=phone") {
    padding-top: 60px;
  }
}

a {
  border: 0;
  outline: none;
}

nav {
  position: relative;
  width: 100%;
  height: 60px;
  // padding: 20px;
  // margin-bottom: 20px;
  z-index: 1000;

  @include media("<=phone") {
    position: fixed;
    top: 0;
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  }

  .container {
    height: 100%;
  }

  .toggle-nav {
    display: none;

    @include media("<=phone") {
      display: block;
      float: right;
      margin-right: 15px;
      margin-top: 15px;
      width: 30px;
      height: 30px;
      background-color: #000;
      border-radius: 100%;
      cursor: pointer;
    }
  }
  
  .logo {
    position: absolute;
    left: -90px;
    top: 20px;
    width: 128px;
    height: 41px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(/img/elements/logo.png);

    @include media("<=phone") {
      position: relative;
      left: 10px;
      top: 10px;
      // margin-left: 10px;
      // margin-top: 10px;
    }
  }

  .floater {
    position: absolute;
    left: -90px;
    top: 80px;

    @include media("<=phone") {
      left: -100%;
      top: 0;
      width: 100%;
      height: 100vh;
      z-index: 100;
      background: #fff;
      box-shadow: none;
      transition: left  .25s ease-in-out;
    }
  }

  @include media("<=phone") {
    &.open {
      .floater {
        left: 0;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
      }
    }
  }

  ul {
    // position: absolute;
    // left: 20px;
    // top: 70px;
    display: block;
    float: left;
    // margin-top: 20px;
    list-style-type: none;

    @include media("<=phone") {
      float: none;
      width: 100%;
      text-align: center;
      margin-top: 60px;
    }

    li {
      @include media("<=phone") {
        margin: 10px 0;
      }

      a {
        display: block;
        padding: 4px 0;
        font-size: 18px;
        font-weight: 300;
        color: #000;
        text-decoration: none;

        @include media("<=phone") {
          font-size: 22px;
        }

        &:hover {
          span {
            border-bottom: 2px solid #000;
          }
        }

        &.active {
          span {
            font-weight: bold;
          }
        }
      }
    }
  }
}


.index-container {
  width: 100%;
  height: 100%;
}

.eye-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  .logo {
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translate(-50%, -50%);
    width: 128px;
    height: 41px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(/img/elements/logo.png);
  }
}

.eye-raster,
.eye-vector {
  display: inline-block;
  width: 256px;
  height: 256px;
  background-size: contain;
  background-repeat: no-repeat;
}

.eye-raster {
  background-image: url(/img/elements/raster_eye_closed.png);

  &:hover {
    background-image: url(/img/elements/raster_eye_open.png);
  }
}
.eye-vector {
  margin-left: 40px;

  background-image: url(/img/elements/vector_eye_closed.svg);

  &:hover {
    background-image: url(/img/elements/vector_eye_open.svg);
  }
}


.container {
  position: relative;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;

  @include media("<=phone") {
    width: 100%;
  }
}

.works-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-bottom: 20px;

  .work {
    display: block;
    margin-top: 20px;

    background-size: cover;
    background-repeat: no-repeat;

    &.round {
      border-radius: 100%;
    }
  }
}


.me-photo {
  width: 400px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(/img/me.jpg);

  @include media("<=phone") {
    width: 256px;
    height: 256px;
  }
}

.social-icons {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

$network-link: be dribbble insta gmail;
@each $network in $network-link {
  .icon-#{$network} {
    display: inline-block;

    &:not(:first-child) {
      margin-left: 15px;
    }

    & > div {
      width: 40px;
      height: 40px;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .icon-#{$network} {
    & > div {
      background-image: url(/img/icons/#{$network}.png);
    }
    &:hover {
      & > div {
        background-image: url(/img/icons/#{$network}_black.png);
      }
    }
  }
}
